.row {
  @include flexbox;
}

.col {
  width: 100%;
}


@media all and (min-width: $medium) {

  .col-md-50p {
    width: 50%;

  }

}

@media all and (min-width: $large) {

  .col-lg-25p {
    width: 25%;

  }
}